/* src/components/store/ProductCard.module.css */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra un poco más fuerte para fondo oscuro */
  transition: all 0.3s ease;
  overflow: hidden; /* Para que la imagen respete los bordes */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.cardImage {
  height: 250px; /* Altura fija para uniformidad */
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.description {
  font-size: 0.9rem;
  line-height: 1.5;
}