.titleBanner {
  background-color: var(--gym-primary);
  color: var(--gym-dark);
  padding: 3rem 0;
  margin-bottom: 3rem;
  text-align: center;
}

.title {
  font-size: 3.5rem;
}

.breadcrumb {
  background-color: transparent !important;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--gym-dark);
  font-weight: 500;
}

.breadcrumb a:hover {
  color: var(--gym-primary);
}